Mildly Outdoorsy - Carousel Pipeline - SAFE #6 (1).json
{
  "name": "Mildly Outdoorsy - Carousel Pipeline - SAFE #6",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        -1264
      ],
      "id": "8b8cad3c-7aac-43ee-8865-dc3be96398e3",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "carousel_queue",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "pending"
            },
            {
              "keyName": "content_type",
              "condition": "eq",
              "keyValue": "product_carousel"
            },
            {
              "keyName": "shirt_name",
              "condition": "neq",
              "keyValue": "newsapi"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        -1264
      ],
      "id": "88e77885-82f4-4236-a584-0d8db7a91d9d",
      "name": "Get many rows3",
      "credentials": {
        "supabaseApi": {
          "id": "yEOFcjOD4EJoFmWl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const record = $input.first().json;\n\nconst postType = (record.post_type || '').toLowerCase();\nconst inferredStyle =\n  ['news','athlete','opinion','fact'].includes(postType) ? 'twitter_card_balanced' :\n  ['meme','reaction'].includes(postType) ? 'snap_overlay' :\n  'product_carousel';\n\nconst templateStyle = (record.template_style || inferredStyle || 'product_carousel').toLowerCase();\nconst mediaSourceType = (record.media_source_type || 'product_image').toLowerCase();\n\nconst pickFirst = (...values) => values.find(v => typeof v === 'string' && v.trim() !== '');\n\nconst sourceImage = pickFirst(record.source_image_url, record.news_image_url, record.slide_1_image_url, record.image_url, record.product_image_url, record.shopify_image_url);\nconst articleSummary = pickFirst(record.article_summary, record.article_text_summary, record.summary_text, record.source_summary, record.description, record.source_description, record.slide_story_summary, record.caption);\nconst articleTitle = pickFirst(record.headline_text, record.source_title, record.title, record.slide_1_main_text);\nconst articleUrl = pickFirst(record.source_url, record.article_url, record.url);\n\nconst common = {\n  shirt_name: record.shirt_name,\n  record_id: record.id,\n  post_type: postType || 'product',\n  template_style: templateStyle,\n  media_source_type: mediaSourceType,\n  source_image_url: sourceImage,\n  article_summary: articleSummary || '',\n  article_title: articleTitle || '',\n  article_url: articleUrl || '',\n  template_uuid_twitter_card_balanced: record.template_uuid_twitter_card_balanced || 'bazsa46k83jxi',\n  template_uuid_snap_overlay: record.template_uuid_snap_overlay || 'yxbgkx7gwh3dx'\n};\n\nif (templateStyle === 'twitter_card_balanced') {\n  return [{ json: { ...common, slide: 1, template: 'TWITTER_CARD_BALANCED', fal_prompt: mediaSourceType === 'ai_generated' ? pickFirst(record.slide_1_fal_prompt, record.fal_prompt) : null, main_text: pickFirst(record.headline_text, record.slide_1_main_text, record.caption), sub_text: pickFirst(record.sub_text, record.slide_2_sub_text, 'mildly.outdoorsy'), brand_handle: pickFirst(record.brand_handle, 'mildly.outdoorsy'), bg_color: '#FFFFFF' } }];\n}\n\nif (templateStyle === 'snap_overlay') {\n  return [{ json: { ...common, slide: 1, template: 'SNAP_OVERLAY', fal_prompt: mediaSourceType === 'ai_generated' ? pickFirst(record.slide_1_fal_prompt, record.fal_prompt) : null, main_text: pickFirst(record.caption_text, record.slide_1_main_text, record.caption), sub_text: pickFirst(record.brand_handle, 'mildly.outdoorsy'), brand_handle: pickFirst(record.brand_handle, 'mildly.outdoorsy'), bg_color: '#000000' } }];\n}\n\nconst textFor = (mainText, subText) => [mainText, subText].filter(v => typeof v === 'string' && v.trim() !== '').join(' — ');\n\nconst buildStoryPrompt = (slideNum, mainText, subText) => {\n  const beat = {\n    2: 'Setup extension: slight environment/context reveal from slide 1.',\n    3: 'Tension: introduce contrast/problem cue while keeping continuity.',\n    4: 'Turning point: signal action/change/insight with subtle motion cues.',\n    5: 'Resolution: calmer confident end-state, visually tied to slide 1.'\n  }[slideNum] || 'Continue story progression.';\n\n  return [\n    'You are generating slide ' + slideNum + ' for a 5-slide storytelling carousel.',\n    'Primary requirement: use slide 1 image as reference anchor; keep same subject identity, style, camera feel, and scene continuity.',\n    'Narrative beat: ' + beat,\n    'Article title: ' + (common.article_title || 'outdoor story'),\n    'Article summary/context: ' + (common.article_summary || 'No summary provided; infer from slide text and title.'),\n    'This slide text (must be visually represented): ' + textFor(mainText, subText),\n    'At least one concrete noun from the slide text must be visible in the image composition.',\n    'Mood must align with the slide text verbs/adjectives and avoid contradiction with the headline claim.',\n    'Keep changes subtle (time-of-day, expression, props, motion cues, environmental detail shifts).',\n    'Photorealistic editorial outdoor style. No text overlays, logos, watermarks.'\n  ].join(' ');\n};\n\nreturn [\n  { json: { ...common, slide: 1, template: 'A', fal_prompt: null, main_text: record.slide_1_main_text, sub_text: record.slide_1_sub_text, bg_color: null, reference_image_url: common.source_image_url } },\n  { json: { ...common, slide: 2, template: 'B', fal_prompt: pickFirst(record.slide_2_fal_prompt, buildStoryPrompt(2, record.slide_2_main_text, record.slide_2_sub_text)), main_text: record.slide_2_main_text, sub_text: record.slide_2_sub_text, bg_color: record.slide_2_bg_color, reference_image_url: common.source_image_url, reference_strength: 0.82, creativity_strength: 0.28 } },\n  { json: { ...common, slide: 3, template: 'A', fal_prompt: pickFirst(record.slide_3_fal_prompt, buildStoryPrompt(3, record.slide_3_main_text, record.slide_3_sub_text)), main_text: record.slide_3_main_text, sub_text: record.slide_3_sub_text, bg_color: null, reference_image_url: common.source_image_url, reference_strength: 0.78, creativity_strength: 0.35 } },\n  { json: { ...common, slide: 4, template: 'A', fal_prompt: pickFirst(record.slide_4_fal_prompt, buildStoryPrompt(4, record.slide_4_main_text, record.slide_4_sub_text)), main_text: record.slide_4_main_text, sub_text: record.slide_4_sub_text, bg_color: null, reference_image_url: common.source_image_url, reference_strength: 0.75, creativity_strength: 0.42 } },\n  { json: { ...common, slide: 5, template: 'A', fal_prompt: pickFirst(record.slide_5_fal_prompt, buildStoryPrompt(5, record.slide_5_main_text, record.slide_5_sub_text)), main_text: record.slide_5_main_text, sub_text: record.slide_5_sub_text, bg_color: null, reference_image_url: common.source_image_url, reference_strength: 0.82, creativity_strength: 0.30 } }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        -1264
      ],
      "id": "c752bc1a-6a67-41eb-bf7d-24a05c7107a5",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c83e917d-3393-448f-b134-8692fde72326",
              "leftValue": "={{ $json.fal_prompt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1552,
        -1264
      ],
      "id": "32000dad-59a2-4210-88c4-accd0880ff46",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.slide === 1 ? 'https://fal.run/fal-ai/bytedance/seedream/v4.5/text-to-image' : 'https://fal.run/fal-ai/flux-pro/kontext/max' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.fal_prompt }}\",\n  \"image_url\": \"{{ $json.reference_image_url }}\",\n  \"negative_prompt\": \"text, watermark, logo, words, letters, caption, brand name, UI elements, app interface, phone screen, chinese characters, overlay, signature, different person, different art style, distorted face\",\n  \"image_size\": \"square_hd\",\n  \"num_images\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1776,
        -1360
      ],
      "id": "9acb7ab2-d8b5-45a8-808b-95849cbee632",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrFedQ8VlGnEkofb",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const falResults = $input.all();\nconst slideItems = $('If1').all();\n\nreturn falResults.map((item, index) => {\n  const slide = slideItems[index];\n\n  return {\n    json: {\n      slide: slide.json.slide,\n      template: slide.json.template,\n      main_text: slide.json.main_text,\n      sub_text: slide.json.sub_text,\n      bg_color: slide.json.bg_color,\n      shirt_name: slide.json.shirt_name,\n      record_id: slide.json.record_id,\n      reference_image_url: slide.json.reference_image_url,\n      fal_image_url: item.json.images?.[0]?.url || item.json.image?.url || item.json.url || null\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        -1360
      ],
      "id": "f22d43c3-5cd0-47a1-9eb7-e50d13c63a17",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "jsCode": "const falResults = $('Code in JavaScript6').all();\nconst slideItems = $('If1').all();\n\nreturn falResults.map((item, index) => {\n  const slide = slideItems[index];\n  return {\n    json: {\n      slide: slide.json.slide,\n      template: slide.json.template,\n      main_text: slide.json.main_text,\n      sub_text: slide.json.sub_text,\n      bg_color: slide.json.bg_color,\n      shirt_name: slide.json.shirt_name,\n      record_id: slide.json.record_id,\n      reference_image_url: slide.json.reference_image_url,\n      fal_image_url: item.json.fal_image_url || slide.json.reference_image_url || null\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        -1360
      ],
      "id": "ace6aa4f-420f-4032-9915-83cabe988271",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  return {\n    json: {\n      slide: item.json.slide,\n      template: item.json.template,\n      main_text: item.json.main_text,\n      sub_text: item.json.sub_text,\n      bg_color: item.json.bg_color,\n      shirt_name: item.json.shirt_name,\n      record_id: item.json.record_id,\n      reference_image_url: item.json.reference_image_url,\n      fal_image_url: item.json.reference_image_url || null\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        -1168
      ],
      "id": "8c6a4aff-85b0-4883-add7-2efae12f8bbc",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "product_images",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "shirt_name",
              "condition": "eq",
              "keyValue": "={{ $json.shirt_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2224,
        -1168
      ],
      "id": "c923fd24-203d-4e9a-9c10-051ad3be29da",
      "name": "Get many rows5",
      "credentials": {
        "supabaseApi": {
          "id": "yEOFcjOD4EJoFmWl",
          "name": "Supabase account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const supabaseResults = $input.all();\nconst slideItems = $('Code in JavaScript8').all();\n\nreturn slideItems.map((slide, index) => {\n  const productImage = supabaseResults[index]?.json?.product_image_url;\n\n  return {\n    json: {\n      ...slide.json,\n      fal_image_url: slide.json.fal_image_url || productImage || null\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        -1168
      ],
      "id": "b939c6a2-d738-4673-8b1c-8829b5df8417",
      "name": "Code in JavaScript9"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2672,
        -1264
      ],
      "id": "e14cca62-81a4-4527-ac99-cb3bf111f509",
      "name": "Merge1"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "slide"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2896,
        -1264
      ],
      "id": "0539eaf6-7e60-4ca7-8f1e-11a36c676791",
      "name": "Sort1"
    },
    {
      "parameters": {
        "template_id": {
          "__rl": true,
          "value": "={{ $json.template === 'B' ? 'q77kb1gac2b6w' : 'eygzpars4oxb8' }}",
          "mode": "id"
        },
        "configurationMode": "=advanced",
        "layers": {
          "layerItems": []
        },
        "layersJson": "={\n  \"background_image\": {\n    \"image\": \"{{ $json.fal_image_url || $json.source_image_url }}\"\n  },\n  \"background_color\": {\n    \"background_color\": \"{{ $json.template === 'TWITTER_CARD_BALANCED' ? '#FFFFFF' : ($json.bg_color ?? '#2D4A2D') }}\"\n  },\n  \"dark overlay rectangle\": {\n    \"background_color\": \"{{ $json.template === 'SNAP_OVERLAY' ? '#000000' : ($json.template === 'TWITTER_CARD_BALANCED' ? '#FFFFFF' : '#000000') }}\",\n    \"opacity\": \"{{ $json.template === 'SNAP_OVERLAY' ? 50 : ($json.template === 'TWITTER_CARD_BALANCED' ? 100 : 35) }}\",\n    \"position_x_absolute\": \"{{ $json.template === 'SNAP_OVERLAY' ? '80px' : ($json.template === 'TWITTER_CARD_BALANCED' ? '52px' : '0px') }}\",\n    \"position_y_absolute\": \"{{ $json.template === 'SNAP_OVERLAY' ? '600px' : ($json.template === 'TWITTER_CARD_BALANCED' ? '70px' : '0px') }}\",\n    \"width\": \"{{ $json.template === 'SNAP_OVERLAY' ? '920px' : ($json.template === 'TWITTER_CARD_BALANCED' ? '976px' : '1080px') }}\",\n    \"height\": \"{{ $json.template === 'SNAP_OVERLAY' ? '150px' : ($json.template === 'TWITTER_CARD_BALANCED' ? '350px' : '1080px') }}\",\n    \"border_radius\": \"{{ $json.template === 'TWITTER_CARD_BALANCED' ? '24px' : ($json.template === 'SNAP_OVERLAY' ? '12px' : '0px') }}\"\n  },\n  \"main_text\": {\n    \"text\": \"{{ $json.main_text }}\",\n    \"text_color\": \"{{ $json.template === 'TWITTER_CARD_BALANCED' ? '#111111' : '#FFFFFF' }}\",\n    \"position_x_absolute\": \"{{ $json.template === 'TWITTER_CARD_BALANCED' ? '90px' : ($json.template === 'SNAP_OVERLAY' ? '120px' : '120px') }}\",\n    \"position_y_absolute\": \"{{ $json.template === 'TWITTER_CARD_BALANCED' ? '120px' : ($json.template === 'SNAP_OVERLAY' ? '640px' : '760px') }}\",\n    \"width\": \"{{ $json.template === 'TWITTER_CARD_BALANCED' ? '900px' : ($json.template === 'SNAP_OVERLAY' ? '840px' : '840px') }}\"\n  },\n  \"sub_text\": {\n    \"text\": \"{{ $json.sub_text || $json.brand_handle || 'mildly.outdoorsy' }}\",\n    \"text_color\": \"{{ $json.template === 'TWITTER_CARD_BALANCED' ? '#6B7280' : '#FFFFFF' }}\",\n    \"position_x_absolute\": \"{{ $json.template === 'TWITTER_CARD_BALANCED' ? '92px' : ($json.template === 'SNAP_OVERLAY' ? '120px' : '120px') }}\",\n    \"position_y_absolute\": \"{{ $json.template === 'TWITTER_CARD_BALANCED' ? '400px' : ($json.template === 'SNAP_OVERLAY' ? '710px' : '880px') }}\",\n    \"width\": \"{{ $json.template === 'TWITTER_CARD_BALANCED' ? '900px' : '840px' }}\"\n  }\n}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-placid.placid",
      "typeVersion": 1,
      "position": [
        3120,
        -1264
      ],
      "id": "6ca6f43d-5699-417b-8469-d0566604f1ad",
      "name": "Create an image from a template1",
      "credentials": {
        "placidApi": {
          "id": "82azTmxGonZRiIaA",
          "name": "Placid account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const placidItems = $input.all();\nconst slideItems = $('Sort1').all();\nconst record = $('Get many rows3').first().json;\n\nconst pickFirst = (...values) => values.find((value) => typeof value === 'string' && value.trim() !== '');\n\nconst explicitCaption = pickFirst(\n  record.caption,\n  record.instagram_caption,\n  record.instagram_post_caption,\n  record.post_caption\n);\n\nconst productUrl = pickFirst(\n  record.shopify_product_url,\n  record.product_url,\n  record.shop_url,\n  record.shop_link\n);\n\nconst fallbackCaption = [\n  record.slide_1_main_text,\n  record.slide_2_main_text,\n  record.slide_4_main_text,\n  productUrl\n].filter((value) => typeof value === 'string' && value.trim() !== '').join('\\n\\n');\n\nconst caption = explicitCaption || fallbackCaption;\n\nconst getImageUrl = (json) => pickFirst(\n  json.image_url,\n  json.url,\n  json.public_url,\n  json.publicUrl,\n  json.data?.image_url,\n  json.data?.url,\n  json.image?.url\n);\n\nreturn placidItems.map((item, index) => {\n  const slide = slideItems[index]?.json ?? {};\n  const imageUrl = getImageUrl(item.json);\n\n  if (!imageUrl) {\n    throw new Error('Missing Placid image URL for slide ' + (slide.slide ?? index + 1));\n  }\n\n  return {\n    json: {\n      slide: slide.slide ?? index + 1,\n      record_id: slide.record_id ?? record.id,\n      shirt_name: slide.shirt_name ?? record.shirt_name,\n      instagram_caption: caption,\n      instagram_image_url: imageUrl\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        -1264
      ],
      "id": "2dae3e8c-9bb6-45fb-94a5-e2dea7a2d9c3",
      "name": "Prepare Instagram Carousel1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v24.0/17841434331048402/media?image_url=' + encodeURIComponent($json.instagram_image_url) + '&is_carousel_item=true' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3568,
        -1264
      ],
      "id": "3f91fd9d-5438-4ecb-a872-f5601850f0ed",
      "name": "Instagram Create Carousel Item1",
      "retryOnFail": true,
      "maxTries": 6,
      "waitBetweenTries": 1800000,
      "credentials": {
        "httpQueryAuth": {
          "id": "IxQ6wJEEhQa0WRQd",
          "name": "Query Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const containerItems = $input.all();\nconst instagramItems = $('Prepare Instagram Carousel1').all();\nconst firstItem = instagramItems[0]?.json;\n\nif (!firstItem) {\n  throw new Error('No carousel slides were prepared for Instagram publishing.');\n}\n\nconst childIds = containerItems\n  .map((item) => item.json.id)\n  .filter((value) => typeof value === 'string' && value.trim() !== '');\n\nif (childIds.length !== instagramItems.length) {\n  throw new Error('Instagram child container creation did not return an id for every slide.');\n}\n\nreturn [\n  {\n    json: {\n      record_id: firstItem.record_id,\n      shirt_name: firstItem.shirt_name,\n      instagram_caption: firstItem.instagram_caption,\n      children: childIds.join(','),\n      child_count: childIds.length\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3792,
        -1264
      ],
      "id": "60e55360-a9dc-471a-8a4b-24dc2bb386e5",
      "name": "Prepare Instagram Carousel Publish1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v24.0/17841434331048402/media?media_type=CAROUSEL&children=' + encodeURIComponent($json.children) + '&caption=' + encodeURIComponent($json.instagram_caption || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4016,
        -1264
      ],
      "id": "5a73b51b-f669-4795-ba03-a9a9b3a2f55d",
      "name": "Instagram Create Carousel Container1",
      "retryOnFail": true,
      "maxTries": 6,
      "waitBetweenTries": 1800000,
      "credentials": {
        "httpQueryAuth": {
          "id": "IxQ6wJEEhQa0WRQd",
          "name": "Query Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const carouselContainer = $input.first().json;\nconst publishPayload = $('Prepare Instagram Carousel Publish1').first().json;\n\nif (!carouselContainer.id) {\n  throw new Error('Instagram carousel container was created without an id.');\n}\n\nreturn [\n  {\n    json: {\n      ...publishPayload,\n      instagram_creation_id: carouselContainer.id\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4240,
        -1264
      ],
      "id": "fa1146a4-67c7-4a05-a9ea-77ecf48b69ce",
      "name": "Prepare Instagram Publish1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v24.0/17841434331048402/media_publish?creation_id=' + encodeURIComponent($json.instagram_creation_id) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4464,
        -1264
      ],
      "id": "40a0f0b2-8c8b-42a1-8cf7-3e69d8f1df56",
      "name": "Instagram Publish Carousel1",
      "retryOnFail": true,
      "maxTries": 6,
      "waitBetweenTries": 1800000,
      "credentials": {
        "httpQueryAuth": {
          "id": "IxQ6wJEEhQa0WRQd",
          "name": "Query Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "carousel_queue",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.record_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "published"
            },
            {
              "fieldId": "published_at",
              "fieldValue": "={{ $json.published_at }}"
            },
            {
              "fieldId": "instagram_post_id",
              "fieldValue": "={{ $json.instagram_post_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4912,
        -1264
      ],
      "id": "053e6498-668a-4229-b7ef-a3777ee1284a",
      "name": "Mark Queue Row Published1",
      "credentials": {
        "supabaseApi": {
          "id": "yEOFcjOD4EJoFmWl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const publishResponse = $input.first().json;\nconst publishPayload = $('Prepare Instagram Publish1').first().json;\n\nreturn [{\n  json: {\n    record_id: publishPayload.record_id,\n    shirt_name: publishPayload.shirt_name,\n    instagram_post_id: publishResponse.id,\n    published_at: new Date().toISOString(),\n    status: 'published'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4688,
        -1264
      ],
      "id": "e78f521f-d3d5-4b68-bf25-3a2bb86e460c",
      "name": "Prepare Publish Result1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "carousel_queue",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "processing"
            },
            {
              "keyName": "content_type",
              "condition": "eq",
              "keyValue": "product_carousel"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        432,
        -1264
      ],
      "id": "943fc6dd-a7f4-4c0e-95c4-02adec82c4ff",
      "name": "Check In-Progress",
      "credentials": {
        "supabaseApi": {
          "id": "yEOFcjOD4EJoFmWl",
          "name": "Supabase account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "18291af9-ddc2-4319-9bcf-03555545ea4d",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        -1264
      ],
      "id": "9d88b8bc-284a-43e4-b96a-14204eb98cbb",
      "name": "If Has In-Progress"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "carousel_queue",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "processing"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1104,
        -1264
      ],
      "id": "794db944-6f0b-4b36-a147-a67d52eaec4c",
      "name": "Claim Row",
      "credentials": {
        "supabaseApi": {
          "id": "yEOFcjOD4EJoFmWl",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Check In-Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows3": {
      "main": [
        [
          {
            "node": "Claim Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "Get many rows5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows5": {
      "main": [
        [
          {
            "node": "Code in JavaScript9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript9": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Create an image from a template1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an image from a template1": {
      "main": [
        [
          {
            "node": "Prepare Instagram Carousel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Instagram Carousel1": {
      "main": [
        [
          {
            "node": "Instagram Create Carousel Item1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Create Carousel Item1": {
      "main": [
        [
          {
            "node": "Prepare Instagram Carousel Publish1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Instagram Carousel Publish1": {
      "main": [
        [
          {
            "node": "Instagram Create Carousel Container1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Create Carousel Container1": {
      "main": [
        [
          {
            "node": "Prepare Instagram Publish1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Instagram Publish1": {
      "main": [
        [
          {
            "node": "Instagram Publish Carousel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Publish Carousel1": {
      "main": [
        [
          {
            "node": "Prepare Publish Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Publish Result1": {
      "main": [
        [
          {
            "node": "Mark Queue Row Published1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check In-Progress": {
      "main": [
        [
          {
            "node": "If Has In-Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has In-Progress": {
      "main": [
        [],
        [
          {
            "node": "Get many rows3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Row": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "202ecee4-a8a8-4e73-a983-87ed3862085e",
  "meta": {
    "instanceId": "7b3ca0ab272ef54f13238977d2c37a8659e0528de7067effda5cfba76f9e76df"
  },
  "id": "YOjdwOvrirAyQqWZ",
  "tags": []
}
