Mildly Outdoorsy - Shared IG Publisher - SAFE #6.json
{
  "name": "Mildly Outdoorsy - Shared IG Publisher - SAFE #6",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mildly-ig-publisher-safe-6",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "7b855faf-ea74-4aa1-800c-1d1aa94f1978",
      "name": "Webhook",
      "webhookId": "2388c09e-c71b-4fd2-a240-2f367a8ade5d"
    },
    {
      "parameters": {
        "jsCode": "// Shared IG Publisher — Validate Input\n// Accepts: { queue_table, record_id, caption, image_urls: string[] }\n// Emits ONE item with the full payload. Splitting into one-item-per-image\n// happens later (after preflight), so the rate-limit checks run exactly once.\nconst raw = $input.first().json || {};\nconst body = raw.body && typeof raw.body === 'object' ? raw.body : raw;\n\nconst queue_table = body.queue_table;\nconst record_id = body.record_id;\nconst caption = body.caption || '';\nlet image_urls = body.image_urls;\n\nif (!queue_table) throw new Error('Missing queue_table');\nif (!record_id) throw new Error('Missing record_id');\nif (image_urls == null) throw new Error('Missing image_urls');\n\nif (typeof image_urls === 'string') {\n  // Defensive: allow a JSON-encoded array or a CSV fallback.\n  try {\n    const parsed = JSON.parse(image_urls);\n    image_urls = Array.isArray(parsed) ? parsed : image_urls.split(',');\n  } catch (e) {\n    image_urls = image_urls.split(',');\n  }\n}\nif (!Array.isArray(image_urls)) throw new Error('image_urls must be an array');\n\nimage_urls = image_urls\n  .map((u) => (typeof u === 'string' ? u.trim() : ''))\n  .filter((u) => u.length > 0);\nif (image_urls.length === 0) throw new Error('image_urls is empty');\nif (image_urls.length > 10) {\n  throw new Error('Instagram carousels support at most 10 images');\n}\n\nreturn [{\n  json: {\n    queue_table,\n    record_id,\n    caption,\n    image_urls,\n    total: image_urls.length,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "eb51d8c7-20c7-48b5-a25d-fdc06d42d9fe",
      "name": "Validate Input",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "={{ $json.queue_table }}",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.record_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "1b32369d-7b09-4230-ac55-1777e01283d1",
      "name": "Get Current Row",
      "credentials": {
        "supabaseApi": {
          "id": "yEOFcjOD4EJoFmWl",
          "name": "Supabase account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "all_published_posts",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "published_at",
              "condition": "gte",
              "keyValue": "={{ new Date(Date.now() - 300 * 1000).toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        0
      ],
      "id": "11a26c75-a278-4c03-b821-99660cb9af8e",
      "name": "Check Cooldown Count",
      "credentials": {
        "supabaseApi": {
          "id": "yEOFcjOD4EJoFmWl",
          "name": "Supabase account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "all_published_posts",
        "limit": 6,
        "filters": {
          "conditions": [
            {
              "keyName": "published_at",
              "condition": "gte",
              "keyValue": "={{ new Date(Date.now() - 24 * 60 * 60 * 1000).toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        0
      ],
      "id": "ce515e47-b327-412e-a459-2ae2c26da23d",
      "name": "Check Daily Cap Count",
      "credentials": {
        "supabaseApi": {
          "id": "yEOFcjOD4EJoFmWl",
          "name": "Supabase account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Shared IG Publisher — Evaluate Preflight\n// Reads Validate Input, Get Current Row, Check Cooldown Count, and\n// Check Daily Cap Count to decide whether this publish attempt should be\n// allowed, short-circuited (already published), or rate-limited (refused).\n// Runs once regardless of how many rows the upstream count queries returned.\nconst COOLDOWN_SECONDS = 300;  // Layer 2 window\nconst DAILY_CAP        = 6; // Layer 3 max publishes per 24h\n\nconst src = $('Validate Input').first().json;\n\nconst getRowItems = $('Get Current Row').all();\nconst currentRow = (getRowItems.length > 0 && getRowItems[0].json) || {};\n\n// --- Layer 1: idempotency — record already published ---\nif (currentRow && currentRow.id &&\n    currentRow.status === 'published' &&\n    currentRow.instagram_post_id) {\n  return [{\n    json: {\n      state: 'short_circuit',\n      queue_table: src.queue_table,\n      record_id: src.record_id,\n      instagram_post_id: currentRow.instagram_post_id,\n      published_at: currentRow.published_at,\n      reason: 'already_published',\n    },\n  }];\n}\n\n// --- Sanity: row must exist to be publishable ---\nif (!currentRow || !currentRow.id) {\n  throw new Error(\n    'Record not found: queue_table=' + src.queue_table +\n    ' record_id=' + src.record_id\n  );\n}\n\n// --- Layer 2: rolling cooldown ---\nconst cooldownRows = $('Check Cooldown Count').all()\n  .map(r => r && r.json)\n  .filter(j => j && j.published_at);\nif (cooldownRows.length > 0) {\n  // Take the most recent published_at across the returned rows.\n  const mostRecentMs = cooldownRows\n    .map(j => new Date(j.published_at).getTime())\n    .sort((a, b) => b - a)[0];\n  const secondsSince = Math.max(0, Math.round((Date.now() - mostRecentMs) / 1000));\n  return [{\n    json: {\n      state: 'rate_limited',\n      queue_table: src.queue_table,\n      record_id: src.record_id,\n      reason: 'cooldown: last publish ' + secondsSince + 's ago (min ' + COOLDOWN_SECONDS + 's)',\n      cooldown_seconds: COOLDOWN_SECONDS,\n      seconds_since_last: secondsSince,\n    },\n  }];\n}\n\n// --- Layer 3: daily hard cap ---\nconst dailyRows = $('Check Daily Cap Count').all()\n  .map(r => r && r.json)\n  .filter(j => j && j.published_at);\nif (dailyRows.length >= DAILY_CAP) {\n  return [{\n    json: {\n      state: 'rate_limited',\n      queue_table: src.queue_table,\n      record_id: src.record_id,\n      reason: 'daily cap: ' + dailyRows.length + ' publishes in last 24h (max ' + DAILY_CAP + ')',\n      daily_cap: DAILY_CAP,\n      count_last_24h: dailyRows.length,\n    },\n  }];\n}\n\n// --- All clear — carry the payload forward for Split Image URLs ---\nreturn [{\n  json: {\n    state: 'allowed',\n    queue_table: src.queue_table,\n    record_id: src.record_id,\n    caption: src.caption,\n    image_urls: src.image_urls,\n    total: src.total,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "id": "5a5f36c4-2176-4c9c-9f3a-c309be2b1153",
      "name": "Evaluate Preflight",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5a56043b-f582-4fa9-8baf-cd865e0bd162",
              "leftValue": "={{ $json.state }}",
              "rightValue": "short_circuit",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ],
      "id": "61b15187-3f61-4055-865d-c6ebef284295",
      "name": "If Already Published"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "afc8b9a5-393c-458c-bfa5-9e090f7a9f8c",
              "leftValue": "={{ $json.state }}",
              "rightValue": "rate_limited",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1680,
        0
      ],
      "id": "a253ad8e-fc49-4b2f-b994-6c10839c9614",
      "name": "If Rate Limited"
    },
    {
      "parameters": {
        "jsCode": "// Shared IG Publisher — Split Image URLs\n// Called only on the \"allowed\" branch. Emits one item per image_url so the\n// downstream Instagram Create Child Container HTTP node runs once per slide.\nconst src = $input.first().json;\nif (!Array.isArray(src.image_urls) || src.image_urls.length === 0) {\n  throw new Error('Split Image URLs: image_urls missing or empty');\n}\nreturn src.image_urls.map((image_url, idx) => ({\n  json: {\n    queue_table: src.queue_table,\n    record_id: src.record_id,\n    caption: src.caption,\n    image_url,\n    idx,\n    total: src.total,\n  },\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        0
      ],
      "id": "19ae6129-e832-446e-8c74-b52d62ca7b83",
      "name": "Split Image URLs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v24.0/17841434331048402/media?is_carousel_item=true&image_url=' + encodeURIComponent($json.image_url) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2160,
        0
      ],
      "id": "1099ef60-a272-4d7a-afa4-a5ed0c50e55e",
      "name": "Instagram Create Child Container",
      "credentials": {
        "httpQueryAuth": {
          "id": "IxQ6wJEEhQa0WRQd",
          "name": "Query Auth account 2"
        }
      },
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "// Shared IG Publisher — Aggregate Child Containers\n// Runs once. Receives merged items from both outputs of \"Instagram Create\n// Child Container\" (success + error), so partial failures show up here and\n// we can throw atomically rather than publishing a carousel with missing\n// slides.\nconst items = $input.all();\nconst src = $('Validate Input').first().json;\nconst expected = Number(src.total || items.length);\n\nconst ids = [];\nconst errors = [];\nfor (const item of items) {\n  const j = item.json || {};\n  if (j.error) {\n    const msg = typeof j.error === 'string'\n      ? j.error\n      : (j.error.message || JSON.stringify(j.error));\n    errors.push(msg);\n    continue;\n  }\n  if (j.id) {\n    ids.push(String(j.id));\n  } else {\n    errors.push('Child container response missing id: ' + JSON.stringify(j).slice(0, 200));\n  }\n}\n\nif (errors.length > 0 || ids.length !== expected) {\n  const reason = errors.length > 0\n    ? errors.join(' | ')\n    : ('Expected ' + expected + ' child containers, got ' + ids.length);\n  throw new Error('Child container creation failed: ' + reason);\n}\n\nreturn [{\n  json: {\n    queue_table: src.queue_table,\n    record_id: src.record_id,\n    caption: src.caption,\n    children_csv: ids.join(','),\n    child_count: ids.length,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        0
      ],
      "id": "8bfec973-b0fe-4b6c-a51e-885359555b1b",
      "name": "Aggregate Child Containers",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v24.0/17841434331048402/media?media_type=CAROUSEL&children=' + encodeURIComponent($json.children_csv) + '&caption=' + encodeURIComponent($json.caption || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2640,
        0
      ],
      "id": "cc5576ca-7ec5-4d20-8994-e19ae2d1d7c7",
      "name": "Instagram Create Carousel Container",
      "credentials": {
        "httpQueryAuth": {
          "id": "IxQ6wJEEhQa0WRQd",
          "name": "Query Auth account 2"
        }
      },
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v24.0/17841434331048402/media_publish?creation_id=' + encodeURIComponent($json.id) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2880,
        0
      ],
      "id": "273b8346-34f0-41d2-98e9-2a5c7226e07c",
      "name": "Instagram Publish Carousel",
      "credentials": {
        "httpQueryAuth": {
          "id": "IxQ6wJEEhQa0WRQd",
          "name": "Query Auth account 2"
        }
      },
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Shared IG Publisher — Prepare Success Update\n// Rolls the Publish response + Aggregate context into a single item whose\n// fields map 1:1 to the Supabase update node's filter + fieldValues.\nconst pub = $input.first().json || {};\nconst src = $('Aggregate Child Containers').first().json;\nif (!pub.id) throw new Error('Publish response missing id');\nreturn [{\n  json: {\n    queue_table: src.queue_table,\n    record_id: src.record_id,\n    instagram_post_id: String(pub.id),\n    published_at: new Date().toISOString(),\n    status: 'published',\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        0
      ],
      "id": "9409424a-4e55-4708-b6d7-902ff98bea88",
      "name": "Prepare Success Update"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "={{ $json.queue_table }}",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.record_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "published"
            },
            {
              "fieldId": "published_at",
              "fieldValue": "={{ $json.published_at }}"
            },
            {
              "fieldId": "instagram_post_id",
              "fieldValue": "={{ $json.instagram_post_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3360,
        0
      ],
      "id": "c7bc4ae6-3346-451a-bcfb-c6090a928fd2",
      "name": "Mark Queue Row Published",
      "credentials": {
        "supabaseApi": {
          "id": "yEOFcjOD4EJoFmWl",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, record_id: $('Prepare Success Update').first().json.record_id, instagram_post_id: $('Prepare Success Update').first().json.instagram_post_id, published_at: $('Prepare Success Update').first().json.published_at } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3600,
        0
      ],
      "id": "d1115731-e38d-4a83-a602-3189b0346b72",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, already_published: true, record_id: $('Evaluate Preflight').first().json.record_id, instagram_post_id: $('Evaluate Preflight').first().json.instagram_post_id, published_at: $('Evaluate Preflight').first().json.published_at } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1680,
        -256
      ],
      "id": "717b5729-58f6-4459-9a2e-77b5e9ce0bfe",
      "name": "Respond Already Published"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, rate_limited: true, record_id: $('Evaluate Preflight').first().json.record_id, reason: $('Evaluate Preflight').first().json.reason } }}",
        "options": {
          "responseCode": 429
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1920,
        -256
      ],
      "id": "b74d060e-fc45-478c-813d-95aa2f01cb15",
      "name": "Respond Rate Limited"
    },
    {
      "parameters": {
        "jsCode": "// Shared IG Publisher — Build Failure Context\n// Invoked by the error output of Validate Input, Evaluate Preflight, or any\n// step in the main lane after preflight passes. Normalizes the error payload\n// and falls back to the Validate Input context (or the raw webhook body) if\n// the failing node no longer carries queue_table / record_id.\nconst item = ($input.first() && $input.first().json) || {};\n\n// Try several shapes: the normalized item, the raw webhook body, or the\n// webhook envelope's `body` field.\nlet queue_table = item.queue_table;\nlet record_id = item.record_id;\nif ((!queue_table || !record_id) && item.body && typeof item.body === 'object') {\n  if (!queue_table) queue_table = item.body.queue_table;\n  if (!record_id) record_id = item.body.record_id;\n}\ntry {\n  const src = $('Validate Input').first().json;\n  if (src) {\n    if (!queue_table) queue_table = src.queue_table;\n    if (!record_id) record_id = src.record_id;\n  }\n} catch (e) {\n  // Validate Input may not have produced any success output — that's fine.\n}\n\nlet errMsg = 'unknown error';\nif (item.error) {\n  if (typeof item.error === 'string') {\n    errMsg = item.error;\n  } else if (item.error.message) {\n    errMsg = item.error.message;\n  } else {\n    try { errMsg = JSON.stringify(item.error); } catch (e) { errMsg = String(item.error); }\n  }\n} else if (item.message) {\n  errMsg = String(item.message);\n}\nerrMsg = String(errMsg).slice(0, 500);\n\nif (!queue_table || !record_id) {\n  // Can't update a DB row we cannot identify — surface via response only.\n  return [{ json: { queue_table: null, record_id: null, error: errMsg, unidentifiable: true } }];\n}\n\nreturn [{ json: { queue_table, record_id, error: errMsg } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        352
      ],
      "id": "0852be97-a51e-402b-823e-278cf8cd20a8",
      "name": "Build Failure Context"
    },
    {
      "parameters": {
        "jsCode": "// Shared IG Publisher — Compute Failure Update\n// Reads the already-fetched row from \"Get Current Row\" (run during preflight)\n// so we avoid a second round-trip just to read retry_count. Bumps retry_count\n// and flips status to 'failed' or 'failed_terminal' depending on the new\n// count.\nlet currentRetry = 0;\ntry {\n  const rows = $('Get Current Row').all();\n  const row = (rows.length > 0 && rows[0].json) || {};\n  currentRetry = Number(row.retry_count || 0);\n} catch (e) {\n  currentRetry = 0;\n}\nconst ctx = $('Build Failure Context').first().json;\n\nconst newRetry = currentRetry + 1;\n// 3 failed attempts total -> terminal. Pipelines stop retrying.\nconst status = newRetry >= 3 ? 'failed_terminal' : 'failed';\n\nreturn [{\n  json: {\n    queue_table: ctx.queue_table,\n    record_id: ctx.record_id,\n    status,\n    retry_count: newRetry,\n    failure_reason: ctx.error,\n    failed_at: new Date().toISOString(),\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        352
      ],
      "id": "7e80b24f-603e-431a-8f27-167d8ac2d630",
      "name": "Compute Failure Update"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "={{ $json.queue_table }}",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.record_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "retry_count",
              "fieldValue": "={{ $json.retry_count }}"
            },
            {
              "fieldId": "failure_reason",
              "fieldValue": "={{ $json.failure_reason }}"
            },
            {
              "fieldId": "failed_at",
              "fieldValue": "={{ $json.failed_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2880,
        352
      ],
      "id": "836c4809-b7a9-4dad-be49-6afb54d78135",
      "name": "Mark Queue Row Failed",
      "credentials": {
        "supabaseApi": {
          "id": "yEOFcjOD4EJoFmWl",
          "name": "Supabase account"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, record_id: $('Compute Failure Update').first().json.record_id, status: $('Compute Failure Update').first().json.status, retry_count: $('Compute Failure Update').first().json.retry_count, error: $('Compute Failure Update').first().json.failure_reason } }}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3120,
        352
      ],
      "id": "4f3aff71-9312-4d84-956f-3fa35c310ce6",
      "name": "Respond Failure"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Get Current Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Row": {
      "main": [
        [
          {
            "node": "Check Cooldown Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cooldown Count": {
      "main": [
        [
          {
            "node": "Check Daily Cap Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Daily Cap Count": {
      "main": [
        [
          {
            "node": "Evaluate Preflight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Preflight": {
      "main": [
        [
          {
            "node": "If Already Published",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Already Published": {
      "main": [
        [
          {
            "node": "Respond Already Published",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Rate Limited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Rate Limited": {
      "main": [
        [
          {
            "node": "Respond Rate Limited",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Image URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Image URLs": {
      "main": [
        [
          {
            "node": "Instagram Create Child Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Create Child Container": {
      "main": [
        [
          {
            "node": "Aggregate Child Containers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Child Containers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Child Containers": {
      "main": [
        [
          {
            "node": "Instagram Create Carousel Container",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Create Carousel Container": {
      "main": [
        [
          {
            "node": "Instagram Publish Carousel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Publish Carousel": {
      "main": [
        [
          {
            "node": "Prepare Success Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success Update": {
      "main": [
        [
          {
            "node": "Mark Queue Row Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Queue Row Published": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Failure Context": {
      "main": [
        [
          {
            "node": "Compute Failure Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Failure Update": {
      "main": [
        [
          {
            "node": "Mark Queue Row Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Queue Row Failed": {
      "main": [
        [
          {
            "node": "Respond Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "d351f561-9e42-485b-99ad-070d68aebdc6",
  "meta": {
    "instanceId": "7b3ca0ab272ef54f13238977d2c37a8659e0528de7067effda5cfba76f9e76df"
  },
  "id": "w9c45ithoPOcfjYv",
  "tags": []
}
