Mildly Outdoorsy - NewsAPI Ingest - SAFE #6.json
{
  "name": "Mildly Outdoorsy - NewsAPI Ingest - SAFE #6",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        96
      ],
      "id": "275eed79-e005-43c6-b8c8-fada9bce7630",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything?q=(hiking%20OR%20%22national%20park%22%20OR%20climbing%20OR%20backcountry%20OR%20trail%20OR%20mountaineering%20OR%20avalanche%20OR%20ski)&language=en&sortBy=publishedAt&pageSize=30&searchIn=title,description&apiKey=50572b2135cf4c2c9166a1de7c8efb3e",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "05ad7a2f-f7e8-4bae-a2f5-6f8aab0f3e42",
      "name": "Get NewsAPI Articles"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "carousel_queue",
        "limit": 300
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        192
      ],
      "id": "8e1e3732-cab8-40bd-80f1-d07d1ce48de7",
      "name": "Get Existing Queue Rows",
      "credentials": {
        "supabaseApi": {
          "id": "yEOFcjOD4EJoFmWl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        96
      ],
      "id": "2e0cbf9e-3334-47d0-857e-37780ac9ed19",
      "name": "Merge Inputs"
    },
    {
      "parameters": {
        "jsCode": "\nconst news = $('Get NewsAPI Articles').first().json.articles || [];\nconst existing = $('Get Existing Queue Rows').all().map(i=>i.json);\nconst seen = new Set(existing.map(r => String(r.source_url || '').toLowerCase()).filter(Boolean));\nconst clean=s=>String(s||'').replace(/\\s+/g,' ').trim();\nconst include=['hiking','hiker','trail','backcountry','national park','climb','climbing','mountain','mountaineer','avalanche','ski','snowpack','outdoor','rescue','wilderness','camping'];\nconst exclude=['stock','stocks','market','fed','interest rate','mortgage','crypto','earnings','consumer confidence','oil price','finance','financial'];\nconst out=[];\nfor (const a of news){\n const title=clean(a.title), desc=clean(a.description), url=clean(a.url), image=clean(a.urlToImage), source=clean(a.source?.name)||'NewsAPI';\n if(!title||!url||!image) continue;\n const text=(title+' '+desc).toLowerCase();\n if(exclude.some(x=>text.includes(x))) continue;\n if(include.filter(x=>text.includes(x)).length===0) continue;\n if(seen.has(url.toLowerCase())) continue;\n seen.add(url.toLowerCase());\n const prompt = 'You are filtering articles for the Mildly Outdoorsy Instagram brand. '+\n 'Brand fit: hiking, trails, national parks, climbing, ski/backcountry, mountain safety, outdoor rescue, wilderness culture. '+\n 'Reject finance, politics, generic business news unless directly outdoors-relevant. '+\n 'Audience context: outdoors-first people who scroll fast and only stop for high-stakes, useful, emotionally vivid stories. '+\n 'Writing objective: maximize swipe-through on a 5-slide carousel by turning the article into a tight narrative arc. '+\n 'Narrative requirements: slide2=what happened (scene + stakes), slide3=why it matters (impact + consequence), slide4=what to do/learn (practical takeaway), slide5=payoff/next-step/CTA that feels earned. '+\n 'Hook requirement: the first-card headline must be a thumb-stopping sentence with urgency/curiosity, no clickbait lies. '+\n 'Style constraints: concrete details over generic phrasing, active voice, short punchy lines, no hashtags in slide text. '+\n 'Given article. Title: '+title+' Description: '+desc+' Source: '+source+' URL: '+url+' '+\n 'Return STRICT JSON only with keys: keep(boolean), reason(string), headline_text(string <=140 chars), slide2_text(string <=220), slide3_text(string <=220), slide4_text(string <=220), slide5_text(string <=220), caption(string <=500).';\n out.push({json:{title,desc,url,image,source,prompt}});\n if(out.length>=10) break;\n}\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        96
      ],
      "id": "4f6858a3-79ff-46ab-84a6-a8336a558f78",
      "name": "Build Candidate Articles"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item, idx) => {\n  const src = $('Build Candidate Articles').all()[idx]?.json || {};\n  let parsed = { keep: false, reason: 'parse_failed' };\n  try {\n    // Handle OpenAI chat completion response\n    const raw = item.json?.choices?.[0]?.message?.content\n      ?? item.json?.result\n      ?? null;\n    if (raw) {\n      parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n    }\n  } catch(e) {\n    parsed = { keep: false, reason: 'json_parse_error: ' + e.message };\n  }\n  return { json: { ...src, ...parsed } };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        96
      ],
      "id": "8f31f352-9759-4321-9f35-1c1c6f81aa30",
      "name": "Parse AI Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.keep }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "0c73fa40-14cf-449d-a745-ab8d1cc1ed16"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1344,
        96
      ],
      "id": "95ba4f19-1b54-48ff-8cd8-b5853fc4389b",
      "name": "If Keep"
    },
    {
      "parameters": {
        "jsCode": "\nreturn $input.all().slice(0,3).map(i=>{\n  const j=i.json;\n  const headline=String(j.headline_text||j.title||'').trim();\n  return {json:{\n    status:'pending',\n    queue_status:'pending',\n    content_type:'twitter_card_balanced',\n    shirt_name:'newsapi',\n    headline_text:headline,\n    slide_1_main_text:headline,\n    slide_1_sub_text:'Source: '+(j.source||'NewsAPI'),\n    slide_2_main_text:j.slide2_text||'',\n    slide_3_main_text:j.slide3_text||'',\n    slide_4_main_text:j.slide4_text||'',\n    slide_5_main_text:j.slide5_text||'',\n    caption:j.caption||[headline,'Source: '+(j.source||'NewsAPI'),j.url].join('\\n\\n'),\n    source_name:j.source||'NewsAPI',\n    source_image_url:j.image,\n    source_url:j.url\n  }};\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        96
      ],
      "id": "0a9d44a3-fa3e-448b-b2d0-970467fda46d",
      "name": "Prepare Queue Rows"
    },
    {
      "parameters": {
        "tableId": "carousel_queue",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "queue_status",
              "fieldValue": "={{ $json.queue_status }}"
            },
            {
              "fieldId": "content_type",
              "fieldValue": "={{ $json.content_type }}"
            },
            {
              "fieldId": "shirt_name",
              "fieldValue": "={{ $json.shirt_name }}"
            },
            {
              "fieldId": "headline_text",
              "fieldValue": "={{ $json.headline_text }}"
            },
            {
              "fieldId": "slide_1_main_text",
              "fieldValue": "={{ $json.slide_1_main_text }}"
            },
            {
              "fieldId": "slide_1_sub_text",
              "fieldValue": "={{ $json.slide_1_sub_text }}"
            },
            {
              "fieldId": "slide_2_main_text",
              "fieldValue": "={{ $json.slide_2_main_text }}"
            },
            {
              "fieldId": "slide_3_main_text",
              "fieldValue": "={{ $json.slide_3_main_text }}"
            },
            {
              "fieldId": "slide_4_main_text",
              "fieldValue": "={{ $json.slide_4_main_text }}"
            },
            {
              "fieldId": "slide_5_main_text",
              "fieldValue": "={{ $json.slide_5_main_text }}"
            },
            {
              "fieldId": "caption",
              "fieldValue": "={{ $json.caption }}"
            },
            {
              "fieldId": "source_name",
              "fieldValue": "={{ $json.source_name }}"
            },
            {
              "fieldId": "source_image_url",
              "fieldValue": "={{ $json.source_image_url }}"
            },
            {
              "fieldId": "source_url",
              "fieldValue": "={{ $json.source_url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1792,
        96
      ],
      "id": "ef592738-6042-4fb9-82de-6f29aaae75b8",
      "name": "Insert Queue Rows",
      "credentials": {
        "supabaseApi": {
          "id": "yEOFcjOD4EJoFmWl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'openai-codex/gpt-5.3-codex', messages: [{ role: 'system', content: 'You are a content filter and story writer for the Mildly Outdoorsy Instagram brand.' }, { role: 'user', content: $json.prompt }], response_format: { type: 'json_object' }, temperature: 0.7 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        96
      ],
      "id": "f02f0f62-c58a-415c-aebc-cb50818e1e1c",
      "name": "AI Relevance + Story Pass",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TrFedQ8VlGnEkofb",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get NewsAPI Articles",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Existing Queue Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get NewsAPI Articles": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Queue Rows": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Inputs": {
      "main": [
        [
          {
            "node": "Build Candidate Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Candidate Articles": {
      "main": [
        [
          {
            "node": "AI Relevance + Story Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "If Keep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Keep": {
      "main": [
        [
          {
            "node": "Prepare Queue Rows",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Queue Rows": {
      "main": [
        [
          {
            "node": "Insert Queue Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Relevance + Story Pass": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "73f95cca-242d-4ac0-a28b-4df2faedad84",
  "meta": {
    "instanceId": "7b3ca0ab272ef54f13238977d2c37a8659e0528de7067effda5cfba76f9e76df"
  },
  "id": "q1uen61RYZA2XcbJ",
  "tags": []
}